body{
    font-family: 'Roboto', sans-serif;
}
main {
    width: 1000px;
    margin: 0 auto;
}

.parent-header {
    display: flex;
    background-color: #161616;
    color: #fff;
    align-items: center;
    padding: 20px 0px 0px 50px;
    border-radius: 30px;

}
.left-content h1{
    font-size: 38px;
}
.left-content button{
    padding: 8px 10px;
    border-radius: 16px;
    border: 1px solid rgb(156, 160, 156);
    background-color:#DD0000;
    ;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
}

.left-content button:hover{
    color: rgb(197, 201, 201);
}
